/*basic styles starts*/
html {
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
}

body {
	color: rgba(0, 0, 0, 0.5);
	font-family: 'PingHei', 'PingFang SC', Helvetica Neue, 'Work Sans', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
	font-size: 16px;
	width: 100%;
	margin: 0 auto 30px auto;
	background-color: #fff;
	line-height: 1.6em;

}
p {
	line-height: 1.9em;
	font-size: 14px;
}

a {
	text-decoration: none;

	&:link, &:visited{
		opacity: 1;
		-webkit-transition: all .15s linear;
		-moz-transition: all .15s linear;
		-o-transition: all .15s linear;
		-ms-transition: all .15s linear;
		transition: all .15s linear;
		color: #424242;
	}

	&:hover, &:active{
		color: #4786D6;
	}
}
/*basic styles ends*/



.content {
	height: auto;
	float: right;
	width: 65%;
	margin-top:60px;
}



.sidebar {
	width: 35%;
	-webkit-background-size: cover;
	background-size: cover;
	background-color: #fff;
	height: 100%;
	transition:0.8s;
	top: 0;
	left:0;
	position: fixed;
	z-index: 4;
	border-right: 1px solid #f2f2f2;

	.logo_title{
		text-align: center;
		padding-top:240px;


		.sub_title {
			font-size: 14px;
			color: #565654;
		}


		.logo {
			margin: 0 auto;
		}

		.title{
			h3 {
				text-transform: uppercase;
				font-size: 1.8rem;
				font-weight: bold;
				letter-spacing: 2px;
				line-height: 1;
				margin:20px 0 0 0;
			}

			a {
				text-decoration: none;
				color: #111;
				font-size: 1.8rem;
				font-weight: normal;
			}
		}

	}

	.my_socials {
		padding: 0;
		font-size: 14px;
		text-align: center;

		i{
			margin-right: 3px;
		}

		a{
			padding: 0 4px;
			line-height: 0;
			color: #565654;
			&:hover{
				color: #4786D6;
			}
		}
	}
}


.page_top{
	width: 65%;
	position: fixed;
	right: 0;
	z-index: 3;
	background-color: #fff;
	border-bottom: 1px solid #eee;
}


.post {
	background-color: #FFF;
	margin: 50px 30px 30px 30px;

	.post_title{
		h2{
			text-transform: uppercase;
			letter-spacing: 1px;
			line-height: 1;
			font-weight: 600;
			color: #464646;
			font-size: 24px;
			margin:0;

		}
		a {
			display: block;
			margin-bottom: 0.8em;
			text-decoration: none;
			letter-spacing: 1px;
			color: #555;
			&:hover{
				text-decoration: underline;
			}
		}

		a.detail_title{
			margin-bottom: 2em;
			color: #353535;
			font-size: 26px;
		}
	}

	.post_content{
		a {
			text-decoration: none;
			letter-spacing: 1px;
			color: #4786D6;
		}
		a:hover{
			color: #2F69B3;
		}
	}

	.post_footer {
		padding: 0 0 30px 0;
		border-bottom: 1px solid #f2f2f2;


		.meta {
			max-width: 100%;
			height: 25px;
			color: #bbbbbb;

			.info {
				float: left;
				font-size: 12px;
				.date{
					margin-right: 10px;
				}

				.comments_count{
				    margin-left: 10px;
				}

				i.fa-tag{
				    margin-left: 10px;
				}
			}

			a {
				text-decoration: none;
				color: #bbbbbb;
				padding-right: 10px;
				&:hover{
					color: #4786D6;
				}
			}
			i{
				margin-right: 6px;
			}
		}



		.tags{
			padding-bottom: 15px;
			font-size: 13px;

			ul {
				list-style-type: none;
				display: inline;
				margin: 0;
				padding: 0;

				li {
					list-style-type: none;
					margin: 0;
					padding-right: 5px;
					display: inline;
				}
			}

			a{
				text-decoration: none;
				color: rgba(0, 0, 0, 0.44);
				font-weight: 400;

				&:hover{
					text-decoration: none;
				}
			}
		}
	}

}




.pagination {
	margin: 30px;
	padding: 0px 0 56px 0;
	border-bottom: 1px solid #f2f2f2;

	a {
		margin: 0 2px 0 2px;
		padding: 0.5em 1.25em;
    	line-height: 1.666em;
		display: inline;

		text-decoration: none;
	}

	.pre {
		float: left;
	}

	.next {
		float: right;
	}
}





.footer {
	clear: both;
	text-align: center;
	font-size: 10px;
	margin: 0 auto;
	bottom: 0;
	position: absolute;
	width: 100%;
	padding-bottom: 10px;
	line-height: 2.2;
	background: #fff;
	a {
		color: #A6A6A6;
	}
	a:hover{
		color: #4786D6;
	}
}




/*for archive*/
.archive{
	width: 100%;
}
.list_with_title{
	font-size: 14px;
	margin: 30px;
	padding: 0;

	li {
        list-style-type: none;
        padding: 0;
    }

	.listing_title {
		font-size: 24px;
		color: #666666;
		font-weight: 600;
		line-height: 2.2em;
	}
	.listing{
        padding: 0;
		margin-bottom: 30px;
    	line-height: 2.5;

		.listing_post {
			padding-bottom: 5px;

			.post_time {
				float: right;
				color: #C5C5C5;
			}

			 a {
				color: #8F8F8F;

				 &:hover{
					 color: #4786D6;
				 }
			}

		}
	}
}




@media screen and (max-width: 960px) {
	.sidebar {
		width: 100%;
		position:absolute;
		border-right:none;
		z-index: 1;

		.logo_title{
			padding-top: 120px;

			.title{

				img{
					width: 100px;
				}
				h3{
					font-size: 20px;
				}
			}
		}
	}
	.page_top{
		width: 100%
	}
	.post_title h3{
		line-height: 1.6;
	}
	.content{
		margin-top: 420px;
		width: 100%;
		z-index: 2;
		position: absolute;
	}
	.footer{
		display: none;
	}
	.share{
		display: grid;
	}
	
}



.markdown {
	color: #555;

	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		margin: 2.5em 0 1.3em 0;
		color: #000;
	}
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 16px;
	}
	h4 {
		font-size: 14px;
	}
	h5, h6 {
		font-size: 12px;
	}

	pre {
		display: block;
		overflow-x: auto;
		margin: 0 0 15px;
		padding: 16px;
		color: #555;
		font-size: 14px;
		border-radius: 6px;
		background-color: #f7f7f7;
		overflow-y: hidden;
	}

	a{
		color: #1abc9c;
		font-weight: bold;
	}

	blockquote{
		color: #777;
		border-left-color: #499eff;
	}
}


