/*basic styles starts*/
html {
	background-color: #f7f7f7;
	-webkit-font-smoothing: antialiased;
}

body {
	color: #333;
	font-family: 'source-han-sans-simplified-c','PingFang SC', 'Hiragino Sans GB','PingHei','Open Sans', sans-serif, Helvetica Neue, 'Work Sans', 'Microsoft YaHei', SimSun;
	font-size: 16px;
	width: 100%;
	background-color: #f7f7f7;
	margin: 0;
	padding: 0;
}

p {
	line-height: 1.9em;
	font-weight: 400;
	margin: 0;
}

a {
	text-decoration: none;

	&:link, &:visited{
		opacity: 1;
		-webkit-transition: all .15s linear;
		-moz-transition: all .15s linear;
		-o-transition: all .15s linear;
		-ms-transition: all .15s linear;
		transition: all .15s linear;
		color: #424242;
	}

	&:hover, &:active{
		color: #555;
	}
}

h1, h2, h3, h4, h5, h6{
	text-rendering: optimizeLegibility;
}

/*basic styles ends*/

.main{
	background: #FFFFFF;
	box-shadow: 0px 10px 20px 0px rgba(236,236,236,0.86);
	width:800px;
	margin: 0 auto;
	margin-top: 60px;
}


.content {
	max-width: 720px;
	padding: 0px 20px;
	height: auto;
	margin: 0 auto;
}

.list_with_title .container{
	width: 720px;
	margin: 0 auto;
}

.header {
	width: 720px;
	padding: 100px 0px 140px 0px;
	margin: 0 auto;
	-webkit-background-size: cover;
	background-size: cover;



	.site_title_container{
		padding: 0 0px;

		h1 {
			line-height: 1;
			margin:0;
		}
		a {
			text-decoration: none;
			float: left;
		}

		.site_title{
			a {
				font-size: 28px;
				width: 65px;
				letter-spacing: 2px;
				line-height: 1.2;
				color: #000;

				&:hover{
					color: #666;
				}
			}
			a.long{
				width: 95px;
			}
			a.long_long{
				width: 160px;
			}
		}

		.description {
			font-size: 14px;
			color: #565654;
			float: right;
			.sub_title{
				font-weight: normal  !important;
				float:none !important;
				font-family: 'PingHei', 'PingFang SC', Helvetica Neue, 'Work Sans', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun  !important;
			}
		}
	}

	.my_socials {
		list-style: none;
		font-size: 14px;
		float: right;
		margin: 5px 0px;

		i{
			margin-left: 10px;
		}

		a {
			color: #5f5f5f;
			font-size: 12px;
			float: none;
			cursor:pointer;
			&:hover{
				color: #000;
			}
		}
	}
}




.post {
	background-color: #FFF;
	margin-top: 50px;

	.post_title{
		padding-bottom: 16px;
		h2 {
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 1.4rem;
			line-height: 1;
			font-weight: 600;
			color: #1F1F1F;
			margin: 0px 0px 6px 0px;

		}
		a {
			text-decoration: none;
			letter-spacing: 1px;
			color: #1F1F1F;
			font-size: 1.4rem;
			line-height: 28px;
		}
		span{
			color: rgba(0,0,0,.44);
			font-size: 14px;
		}
		span.date{
			font-size: 12px;
		}
	}

	.post_detail_title{
		h2{
			font-size: 1.5rem;
			font-weight: bold;
		}
	}

	.list {
		p {
			padding-bottom: 0px !important;
		}
	}

	.post_content{
		word-break: break-all;

		p {
			line-height: 2em;
			letter-spacing: 0.2px;
		}

		a {
			text-decoration: none;
			letter-spacing: 1px;
			color: #e42b2b;
			&:hover{
				color: #8e0000;
			}
		}

	}


	.post_footer {
		padding: 20px 0 40px 0;
		border-bottom: 1px solid #F3F3F3;
		.meta {
			max-width: 100%;
			height: 25px;
			color: #bbbbbb;

			.info {
				float: left;
				font-size: 11px;
				.date{
					margin-right: 10px;
				}
			}

			.field{
				margin-right: 10px;
			}
			.tags{
				a {
					text-decoration: none;
					color: #bbbbbb;
					padding-right: 6px;
					&:hover{
						color: #1F1F1F;
					}
				}
			}


		}
	}
}




.footer {
	clear: both;
	max-width: 780px;
	text-align: center;
	font-size: 12px;
	padding: 60px 0px;
	margin: 0 auto;

	a {
		color: #A6A6A6;
		margin:0px 12px;
		&:hover{
			color: #1F1F1F;
		}
	}

	.farbox_nav_container{
		.site_nav_wrap{
			text-align: center;
		}
		.site_nav{
			display: inline-block;
			float: none;
			a{
				font-size: 13px;
				color: #666;
				&.current{
					color: #222;
				}
			}
		}
	}

	.powered_by{
		margin: 0;
		font-size: 11px;
		a{
			color: #cccccc;
			margin: 0px 2px;
			&:hover{
				color: #1F1F1F;
			}
		}
	}

	.footer_slogan{
		padding-top: 25px;
		padding-bottom: 10px;
		color: #000;
		font-size: 16px;
		letter-spacing: 1px;
	}

}


@media screen and (max-width:768px) {
	.footer .farBox_nav_container .site_nav_wrap{
		text-align: left;
	}
}






/*for archive*/
.list_with_title{
	font-size: 14px;
    margin: 0;
	padding: 0;

	li {
        list-style-type: none;
        padding: 0;
    }

	.listing_title {
		font-size: 1.4rem;
		color: #1F1F1F;
		font-weight: bold;
		padding-top: 10px;
		line-height: 2.2em;
	}
	.listing{
		margin: 0 0 50px 0;
        padding: 0;
		line-height: 2.1;

		.listing_post {
			padding-bottom: 5px;

			.post_time {
				float: right;
				color: #C5C5C5;
				font-size: 12px;
			}

			 a {
				 &:hover{
					 color: #1F1F1F;
				 }
			}

		}
	}
}




.doc_comments{
	font-size: 14px;
	color: #383838;
	.comment{
		small{
			font-size: 70%;
		}
	}
}


.pagination {
	padding: 30px 0 60px 0;
	border-bottom: 1px solid #f2f2f2;
	color: #666;
	font-size: 14px;

	a {
		 color: #888;
		text-decoration: none;
		&:hover{
			color: #333;
		}
	}

	.pre {
		float: left;
	}

	.next {
		float: right;
	}
}





.markdown {
	color: #555;

	h1, h2, h3, h4, h5, h6 {
		margin: 2.5em 0 1.3em 0;
		color: #000;
	}

	h1{
		font-size: 1.35em;
	}
	h2{
		font-size: 1.25em;
	}
	h3{
		font-size: 1.15em;
	}
	h4{
		font-size: 1.1em;
	}


	pre{
		border: 1px solid #e6e6e6;
		border-left: none;
		border-right: none;
		margin-top: 1.2em;
		margin-bottom: 2.2em;
		padding: 15px 20px;
		display: block;
		overflow: auto;
		background: #fdfdfd;
	}


	blockquote,.stressed {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin: 2.5em 0;
		padding: 0 0 0 50px;
		font-style: italic;
		color: #555;
		border-left: none;
	}

	blockquote:before,.stressed-quote:before {
		content: "\201C";
		display: block;
		font-family: times;
		font-style: normal;
		font-size: 48px;
		color: #444;
		font-weight: bold;
		line-height: 30px;
		margin-left: -50px;
		position: absolute;
	}
	strong,b,em{
		padding: 1px 2px;
		background-color: #fcfcf0;
		font-weight: normal;
	}
}







@media screen and (max-width: 900px) {

	.main{
		width: 95%;
		margin-top:20px;
	}
	.header {
		width: 92%;
	}

	.post_page{
		padding-top: 0px;
	}
	.footer a{
			margin:0px 6px;
	}
	.about{
		padding-bottom: 400px;
	}
	.post {
		margin-top: 40px;
	}

	.post_footer {
		padding-bottom: 30px;
	}

}







/*animation starts*/
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-3px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-3px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-3px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-3px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
/*animation ends*/