$high_color: #e7645c;
$high_color2: #0078e7;

*{
	outline: none;
}

body {
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
  	font-family: 'PT Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, Hiragino Sans GB, Microsoft YaHei, sans-serif;

}

#header{
	height: 30px;
	padding-top: 35px;
	#nav_disable_set{
		float: left;
	}
	#new_item{
		display: block;
		float: right;
	}

	#help_link{
		margin: 0 10px;
	}

	a#new_item{
		background: $high_color2;
		padding: 2px 8px;
		color: white;
	}
	a#help_link{
		margin-left: 20px;
		color: $high_color2
	}
}

a, a:visited {
	color: #4183C4;
	text-decoration: none;
}


a:hover {
	text-decoration: underline;
}


.placeholder {
	outline: 1px dashed #4183C4;
}



.sortable_wrap{
	margin: 1em 0 2em 0;
}

.move_sign{
	position: relative;
	padding: 0 6px;


	i{
		top: -2px;
		position: absolute;
		font-size: 10px;
		color: #ccc;
	}
	.move_sign1{
		left: 0;
	}
	.move_sign2{
		left: 5px;
	}
}

.sortable{
	margin: 0;
	padding: 0;
	list-style-type: none;

	ol{
		margin: 0 0 0 25px;
		padding: 0;
		list-style-type: none;
	}

	li {
		margin: 8px 0 0 0;
		padding: 0;

		div  {
			border: 1px solid #d4d4d4;
			border-color: #D4D4D4 #D4D4D4 #BCBCBC;
			border-radius: 3px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			padding: 6px;
			margin: 0;
			cursor: move;
			background: #f6f6f6;
			background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
			background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
		}

		input {
			vertical-align: text-bottom;
			padding: 3px 2px;
		}

		input[name="name"]{
			width: 60px;
		}

		input[name="url"]{
			width: 50%;
		}

		.actions{
			float: right;
			margin-top: 3px;
			font-size: 12px;

			a{
				color: #666;
				&:hover{
					color: indianred;
				}
			}

			a.delete{

			}

			a.edit_page{
				margin-right: 10px;
				color: #0074d9;
				display: none;
			}
		}


	}
}

#save_nav{
	display: block;
	text-align: center;
	width: 200px;
	margin: 0 auto;

	padding: 10px;
	font-size: 15px;
	letter-spacing: 1px;

	border: 1px solid #eee;
	border-radius: 5px;
	background: $high_color2;
	color: white;
	text-decoration: none;

	&:hover{

	}

	&:disabled{
		background: #ccc;
	}
}