body {
  font-size: 12px;
  width: 100%;
  overflow: hidden;
  background: #fbfbfb; }

  #editor .CodeMirror {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    line-height: 2.1em;
    border: none; }

#save_button {
  position: fixed;
  top: 6px;
  right: 2px;
  z-index: 10000; }
  #save_button a {
    text-decoration: none;
    padding: 5px 20px;
    background: #b4b4b4;
    border-radius: 2px;
    color: #fff; }
    #save_button a:hover {
      background: #d42128; }
  #save_button .precess {
    position: absolute;
    left: 0;
    bottom: -5px;
    background: #d42128;
    height: 2px; }

.cm-s-solarized .CodeMirror-gutters {
  border-right: 1px solid #ddd !important;
  background: #fdfdfd !important; }

  .cm-s-solarized .cm-strong {
    color: indianred !important; }

    .CodeMirror-linenumber {
      text-align: center !important; }

      .CodeMirror-cursor {
        border-left: 2px solid #16b0ff !important;
        z-index: 3; }
