from mixins import make_timeline
extends base.jade

block content
	.content
		.page-header: .box-blog-info
			a.avatar(href='/')
				img(src=site.site_avatar)
			.info
				h3.name= site.title
				.slogan= site.sub_title

		entries = d.get_data(type='post',limit=300, sort='desc').group('-date:year')
		+make_timeline(entries)

		+h.paginator()