* {
  outline: none; }

  body {
    /*margin: 0 auto;*/
    font-size: 14px;
    font-family: 'PT Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, Hiragino Sans GB,
        Microsoft YaHei, sans-serif;
    -webkit-font-smoothing: antialiased; }

    html {
      font-size: 100%;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%; }

      html, html a {
        -webkit-font-smoothing: antialiased;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

        .clear {
          clear: both;
          height: 0; }

          .simple_form {
            margin: 0 auto;
            padding: 20px 0;
            max-width: 680px; }
            .simple_form h2 {
              text-align: center;
              margin: 2em 0; }
              .simple_form h2 a {
                color: #4296DB;
                text-decoration: none; }
                .simple_form h2 a:hover {
                  text-decoration: underline; }
            .simple_form .info {
              text-align: center;
              color: indianred;
              font-size: 12px;
              margin: 20px auto;
              height: 30px; }
              .simple_form .buttons {
                margin: 30px auto 15px auto;
                text-align: center; }
                .simple_form .buttons button {
                  text-align: center;
                  display: inline-block;
                  min-width: 200px;
                  margin: 0 10px 0 22%;
                  padding: 10px;
                  font-size: 15px;
                  letter-spacing: 1px;
                  border: 1px solid #eee;
                  border-radius: 5px;
                  background: #4296DB;
                  color: white; }
                  .simple_form .buttons button:disabled, .simple_form .buttons button.disabled {
                    background: #ccc; }
            .simple_form .simple_field {
              display: block;
              padding: 0 20px;
              min-height: 60px;
              line-height: 60px;
              position: relative; }
              .simple_form .simple_field label {
                float: left;
                width: 22%;
                color: #555;
                font-size: 14px;
                max-height: none !important; }
                .simple_form .simple_field .display_field {
                  float: right;
                  width: 78%; }
                  .simple_form .simple_field select.display_field {
                    margin-top: 15px; }
                    .simple_form .simple_field input, .simple_form .simple_field .file_field {
                      color: #4296DB;
                      padding: 12px 10px;
                      width: 60%;
                      font-size: 16px;
                      letter-spacing: 1px;
                      border: 1px solid #ccc; }
                      .simple_form .simple_field .span_field {
                        color: #333;
                        font-size: 16px;
                        letter-spacing: 1px;
                        text-align: center; }
                        .simple_form .simple_field textarea {
                          padding: 12px 10px;
                          width: 60%;
                          height: 100px;
                          font-size: 16px;
                          letter-spacing: 1px;
                          border: 1px solid #ccc;
                          color: #353535; }

@media (max-width: 640px) {
  .simple_form .simple_field label {
    width: 30%;   }
    .simple_form .simple_field .display_field {
      width: 70%;   }
}
