
body {
	font-family: 'PT Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, Hiragino Sans GB, Microsoft YaHei, sans-serif;
	font-size: 14px;
	line-height: 2.1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}


#header{
	border-bottom: 1px solid #eee;
}


#layout{
	width: 80%;
	margin: 0 auto;
	max-width: 920px;
}


h1, h2, h3 {
	font-family: 'PT Serif', "Georgia", "Times New Roman", Times, "Songti SC", "SimSun", sans-serif;
}

a {
	text-decoration: none;
}

.post {
	color: #222;

	.title {
		color: #000;
		font-size: 2.3em;
		padding: 0.5em 0 1.5em 0;
		margin: 1em 0 2em 0;
		border-bottom: 1px solid #eee;
		text-align: center;
		line-height: 1.2;
	}
	img {
		max-width: 100%;
	}

	.content {
		margin: 0 0 3em 0;
		.info {
			margin-top: 3.5em;
			.tags {
				display: inline;
				float: left;
				padding-top: 1em;
				a {
					padding: 0 10px;
					color: #555;
					&:hover {
						color: #111;
					}
				}
			}
			.date {
				font-size: 90%;
				padding: 1em 0;
				color: #999;
				text-align: right;
				border-top: 1px solid #eee;
				border-bottom: 1px solid #eee;
			}
		}

		p img {
			margin-left: -2em;
		}

		.refer p img {
			margin-left: 0;
		}
	}

}

.newest_post {
	margin: 50px 0;
	padding-bottom: 1.5em;
	border-bottom: 1px solid #eee;

	a {
		color: #000;
		text-decoration: none;

	}

	h2 {
		font-size: 2.2em;
		a:hover {
			text-decoration: underline;
		}
	}

	.summary {
		display: block;
		&:hover {
			background: #f6f6f6;
		}
		img {
			display: block;
			max-width: 100%;
			margin: 0 auto;
		}

		.markdown{
			line-height: 2.1;
		}
	}

}

#categories {
	padding: 0;
	margin-top: 50px;

	a {
		text-decoration: none;
		color: #333;
	}

	.category {
		font-size: 16px;
		position: relative;
		margin: 20px 40px;
		height: 285px;

		h3 {
			font-size: 1.2em;
			word-wrap: break-word;
			overflow: hidden;
			font-weight: normal;
		}

		span {
			color: #999;
			font-size: 0.8em;
		}

		a {
			display: block;
			margin: 0 auto;
			text-align: left;
			width: 150px;
			height: 165px;
			border: 1px solid #c8c8c8;
			padding: 60px 30px;

			&:hover {
				border: 1px solid #b7b7b7;
				-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
				-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
				box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

				h3 {
					padding-left: 2px;
				}
			}
		}
	}
}

.posts_in_list, .archive {
	font-size: 16px;
	margin: 60px 0 100px 0;
	h1 {
		text-align: center;
	}
	ul {
		margin: 0 0 15px 0;
		padding: 0;
		list-style: none;

		li {
			padding: 20px 15px 20px;

			a {
				color: #333;
				&:hover {
					border-bottom: 1px solid #ccc;
				}
			}

			.date {
				float: right;
				text-align: right;
			}
		}
	}
}

.post_page{
    font-size: 16px;
}

.pager {
	position: relative;
	height: 57px;
	margin: 50px 0 30px 0;

	a {
		color: #333;
		letter-spacing: 1px;
		font-size: 14px;
		text-decoration: none;
		text-align: center;

		&:hover {
			border-bottom: 1px dashed #333;
		}
	}

	.next {
		position: absolute;
		right: 0;
	}

	.pre {
		position: absolute;
		left: 0;
	}
}

@media screen and (max-width: 480px) {
	body {
		width: 95%;
		margin: 0 auto;
	}
}

.markdown {
	.toc {
		line-height: 2.1;
		border: 1px solid #eee;
		li {
			ul {
				margin: 0;
				padding-top: 0;
			}
		}
	}

	code {
		background: #f3f3f3;
		padding: 0 5px;
		margin: 0 2px;
		border: none;
		color: #000;
	}

	blockquote .p_part p, li .p_part p {
		text-indent: 0 !important;
	}

	ol, ul {
		line-height: 2.1;
	}

	blockquote {
		border-left-color: #16b0ff;
	}

	pre {
		border: 1px solid #e6e6e6;
		border-left: none;
		border-right: none;
		margin-top: 1.2em;
		margin-bottom: 2.2em;
		padding: 15px 20px;
		display: block;
		overflow: auto;
		background: #fdfdfd;
	}

	h1 {
		margin: 2.5em 0 1.5em 0;
	}

	h2 {
		margin: 2.0em 0 1em 0;
	}

	h3 {
		font-size: 1.3em;
		margin: 2em 0 1em 0;
		color: #333;
	}

	table {
		margin: 2em 0 3em 0;
	}

	strong, b {
		color: #000;
	}

	hr {
		border-top: 1px dotted #efefef;
	}

}