.clear {
  clear: both;
  height: 0; }

  .site_nav {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    .site_nav a span.sub-arrow {
      position: absolute;
      top: 50%;
      margin-top: -17px;
      left: auto;
      right: 4px;
      width: 34px;
      height: 34px;
      overflow: hidden;
      font: bold 16px / 34px monospace !important;
      text-align: center;
      text-shadow: none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px; }
      .site_nav a.highlighted span.sub-arrow:before {
        display: block;
        content: '-'; }
    .site_nav > li:first-child > a, .site_nav > li:first-child > :not(ul) a {
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      -ms-border-radius: 5px 5px 0 0;
      -o-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0; }
      .site_nav > li:last-child > a, .site_nav > li:last-child > *:not(ul) a,
      .site_nav > li:last-child > ul,
      .site_nav \a\ > li:last-child > ul > li:last-child > a,
      .site_nav > li:last-child > ul > li:last-child > *:not(ul) a,
      .site_nav > li:last-child > ul > li:last-child > ul,
      .site_nav \a\ > li:last-child > ul > li:last-child > ul > li:last-child > a,
      .site_nav > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a,
      .site_nav > li:last-child > ul > li:last-child > ul > li:last-child > ul,
      .site_nav \a\ > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a,
      .site_nav > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a,
      .site_nav > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul,
      .site_nav \a\ > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a,
      .site_nav > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a,
      .site_nav > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul {
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        -o-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px; }
        .site_nav > li:last-child > a.highlighted,
        .site_nav > li:last-child > *:not(ul) a.highlighted,
        .site_nav \a\ > li:last-child > ul > li:last-child > a.highlighted,
        .site_nav > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
        .site_nav \a\ > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted,
        .site_nav > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
        .site_nav \a\ > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted,
        .site_nav > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
        .site_nav \a\ > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted,
        .site_nav > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted {
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          border-radius: 0; }
          .site_nav > li:first-child {
            border-top: 0; }

@media (min-width: 768px) {
  .bitcron_nav {
    display: block;   }
    .site_nav ul {
      position: absolute;
      width: 12em;   }
      .site_nav li {
        float: left;   }
        .site_nav ul li, .site_nav.sm-rtl ul li, .site_nav.sm-vertical li {
          float: none;   }
          .site_nav a {
            white-space: nowrap;   }
            .site_nav ul a, .site_nav.sm-vertical a {
              white-space: normal;   }
              .site_nav .sm-nowrap > li > a, .site_nav .sm-nowrap > li > :not(ul) a {
                white-space: nowrap;   }
                .site_nav a.has-submenu {
                  padding-right: 24px;   }
                  .site_nav a span.sub-arrow {
                    top: 50%;
                    margin-top: -2px;
                    right: 12px;
                    width: 0;
                    height: 0;
                    border-width: 4px;
                    border-style: solid dashed dashed dashed;
                    background: transparent;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    -ms-border-radius: 0;
                    -o-border-radius: 0;
                    border-radius: 0;   }
                    .site_nav a.highlighted span.sub-arrow:before {
                      display: none;   }
                .site_nav li {
                  border-top: 0;   }
                  .site_nav > li > ul:before, .site_nav > li > ul:after {
                    content: '';
                    position: absolute;
                    top: -18px;
                    left: 30px;
                    width: 0;
                    height: 0;
                    overflow: hidden;
                    border-width: 9px;
                    border-style: dashed dashed solid dashed;   }
                    .site_nav > li > ul:after {
                      top: -16px;
                      left: 31px;
                      border-width: 8px;   }
                      .site_nav ul {
                        -webkit-border-radius: 5px !important;
                        -moz-border-radius: 5px !important;
                        -ms-border-radius: 5px !important;
                        -o-border-radius: 5px !important;
                        border-radius: 5px !important;
                        -webkit-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
                        -moz-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
                        box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);   }
                        .site_nav ul a.has-submenu {
                          padding-right: 20px;   }
                          .site_nav ul a span.sub-arrow {
                            right: 8px;
                            top: 50%;
                            margin-top: -5px;
                            border-width: 5px;
                            border-style: dashed dashed dashed solid;   }
                .site_nav span.scroll-up, .site_nav span.scroll-down {
                  position: absolute;
                  display: none;
                  visibility: hidden;
                  overflow: hidden;
                  height: 20px;   }
                  .site_nav span.scroll-up-arrow, .site_nav span.scroll-down-arrow {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    margin-left: -6px;
                    width: 0;
                    height: 0;
                    overflow: hidden;
                    border-width: 6px;
                    border-style: dashed dashed solid dashed;   }
                    .site_nav span.scroll-down-arrow {
                      top: 8px;
                      border-style: solid dashed dashed dashed;   }
}

.menu_state {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

  .menu_btn {
    float: right;
    margin: 5px 10px;
    position: relative;
    z-index: 9999;
    display: inline-block;
    width: 29px;
    height: 29px;
    text-indent: 29px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; }

    .menu_btn_icon, .menu_btn_icon:before, .menu_btn_icon:after {
      position: absolute;
      top: 50%;
      left: 2px;
      height: 2px;
      width: 24px;
      -webkit-transition: all 0.25s;
      transition: all 0.25s; }

      .menu_btn_icon:before {
        content: '';
        top: -7px;
        left: 0; }

        .menu_btn_icon:after {
          content: '';
          top: 7px;
          left: 0; }

          .menu_state:checked ~ .menu_btn .menu_btn_icon {
            height: 0;
            background: transparent; }

            .menu_state:checked ~ .menu_btn .menu_btn_icon:before {
              top: 0;
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }

              .menu_state:checked ~ .menu_btn .menu_btn_icon:after {
                top: 0;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }

                .menu_state:not(:checked) ~ .bitcron_nav {
                  display: none; }

                  .menu_state:checked ~ .bitcron_nav {
                    display: block; }

                    @media (min-width: 768px) {
                      .menu_btn {
                        position: absolute;
                        top: -99999px;   }
                        .menu_state:not(:checked) ~ #main-menu {
                          display: block;   }
}
